
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand text-white" href="#">IRunes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Albums/All">Albums</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Users/Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<hr class="bg-success" style="height: 2px" />
<main>
    <div class="row">
        <div class="col-md-6">
            <img width="760" height="480" src=@Model.AlbumCover />
            <h2 class="text-center">Album Name: @Model.AlbumName</h2>
            <h2 class="text-center">Album Price: @Model.AlbumPrice</h2>

            <div class="d-flex justify-content-between">
                <a class="btn btn-success" href="/Tracks/Create?albumId=@Model.AlbumId">Create Track</a>
                <a class="btn btn-success" href="/Albums/All">Back to All</a>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Tracks</h2>
            <ul>
                @Model.AlbumTracks
            </ul>
        </div>
    </div>
</main>

